body{
	background: #7FFF00; //https://en.wikipedia.org/wiki/Chartreuse_%28color%29
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid white;
	
}

h3 {
	font-family: sans-serif;
	color: FF00FF;
}

p.poem {
	font-family: arial, sans-serif;
	color: FF6600;
	font-style: italic;

}

#main{
	width: 50%;
	margin-top: 25;
	padding-top: 15px;
	padding-bottom: 30px;
	border: 5px solid navy;
	margin-left: auto;
	margin-right: auto;
}

#footer{
	font-family: sans-serif;
	color: 0022AA;


}